*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    color:white;
    background:linear-gradient(135deg,#090014,#140028,#25003d);
    background-attachment:fixed;
    overflow-x:hidden;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content{
max-width:700px;
width:90%;
}

.hero h1{
font-size:52px;
color:white;
margin:20px 0;
}

.hero h3{
font-weight:300;
color:#ffd3e5;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

button{
background:#ff4081;
border:none;
padding:16px 35px;
border-radius:50px;
color:white;
font-size:18px;
cursor:pointer;
transition:.4s;
}

button:hover{
transform:scale(1.08);
box-shadow:0 0 25px #ff4081;
}

section{
padding:100px 20px;
text-align:center;
}

.glass{
background:rgba(255,255,255,.08);
backdrop-filter:blur(12px);
border-radius:25px;
padding:35px;
max-width:900px;
margin:auto;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
padding:40px;
max-width:1200px;
margin:auto;
}

.gallery-grid img{
width:100%;
height:420px;
object-fit:cover;
border-radius:25px;
box-shadow:0 15px 35px rgba(0,0,0,.35);
transition:.5s;
cursor:pointer;
}

.gallery-grid img:hover{
transform:scale(1.05) rotate(1deg);
box-shadow:0 20px 50px rgba(255,64,129,.6);
}

    .reveal{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}
.reveal.active{
    opacity:1;
    transform:translateY(0);
}

h1{
    font-size:60px;
}

h2{
    font-size:36px;
}

p{
    line-height:1.8;
}

    .heart{
    position:fixed;
    z-index:9999;
    pointer-events:none;
    animation:floatUp 8s linear forwards;
    }

@keyframes floatUp{
    0%{
        transform:translateY(100vh) scale(0.5);
        opacity:0;
    }
    10%{
        opacity:1;
    }
    100%{
        transform:translateY(-120vh) scale(1.4);
        opacity:0;
    }
}

#lightbox{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
justify-content:center;
align-items:center;
z-index:99999;
}

.slideshow{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#slide{
    width:90%;
    max-width:900px;
    border-radius:25px;
    box-shadow:0 20px 50px rgba(0,0,0,.5);
    animation:zoom 5s linear infinite;
}

@keyframes zoom{
    from{transform:scale(1);}
    to{transform:scale(1.1);}
}

#lightbox img{
max-width:90%;
max-height:90%;
border-radius:20px;
box-shadow:0 0 40px #ff4d88;
cursor:pointer;
}

.fade{
    opacity:0;
    transition:opacity 1s ease-in-out;
}


.intro,
.slideshow,
.video-section,
#ending{
    display:none;
}

#fireworks{
    position:fixed;
    inset:0;
    display:block;
    width:100vw;
    height:100vh;
    pointer-events:none;
    z-index:99999;
}
